<h3>New Category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>
 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>
